@{
    ViewData["Title"] = "CalculateOhmValue";
}

<h2>CalculateOhmValue</h2>
<a class="btn btn-primary" href="@Url.Action("YourAction","YourController")">Click</a>
<ul>
    @for (int i = 0; i < (int)ViewData["numTimes"]!; i++)
    {
        <li>@ViewData["bandAMessage"]</li>
    }
</ul>