@model ohms.Models.ohmsClass

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ohmsClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RAL" class="control-label"></label>
                <input asp-for="RAL" class="form-control" />
                <span asp-validation-for="RAL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SigFig" class="control-label"></label>
                <input asp-for="SigFig" class="form-control" />
                <span asp-validation-for="SigFig" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Multiplier" class="control-label"></label>
                <input asp-for="Multiplier" class="form-control" />
                <span asp-validation-for="Multiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Multiplier2" class="control-label"></label>
                <input asp-for="Multiplier2" class="form-control" />
                <span asp-validation-for="Multiplier2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Percent" class="control-label"></label>
                <input asp-for="Percent" class="form-control" />
                <span asp-validation-for="Percent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Letter" class="control-label"></label>
                <input asp-for="Letter" class="form-control" />
                <span asp-validation-for="Letter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ppmk" class="control-label"></label>
                <input asp-for="Ppmk" class="form-control" />
                <span asp-validation-for="Ppmk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TCLetter" class="control-label"></label>
                <input asp-for="TCLetter" class="form-control" />
                <span asp-validation-for="TCLetter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
